@keyframes ring_deg {
    0% {
        -webkit-ransform: rotate(-0.4deg);
        -ms-ransform: rotate(-0.4deg);
        transform: rotate(-0.4deg);


    }
    50% {
        -webkit-ransform: rotate(0deg);
        -ms-ransform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-ransform: rotate(0.4deg);
        -ms-ransform: rotate(0.4deg);
        transform: rotate(0.4deg);
    }
}

@keyframes sanya_inviz {
    0% {
        -webkit-ransform: rotate(-20.4deg);
        -ms-ransform: rotate(-20.4deg);
        transform: rotate(-20.4deg);
        opacity: 0;
    }
    40% {
        -webkit-ransform: rotate(-15.4deg);
        -ms-ransform: rotate(-15.4deg);
        transform: rotate(-15.0deg);
        opacity: 1;
    }
    50% {
        -webkit-ransform: rotate(0deg);
        -ms-ransform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 0;
    }
    60% {
        -webkit-ransform: rotate(15.0deg);
        -ms-ransform: rotate(15.0deg);
        transform: rotate(15.0deg);
        opacity: 0;
    }
    100% {
        -webkit-ransform: rotate(20.4deg);
        -ms-ransform: rotate(20.4deg);
        transform: rotate(20.4deg);
        opacity: 1;
    }
}

@keyframes cry_right {
    0% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
    50% {
        transform: translate(0px, 130px);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate(0px, 130px);
    }
}

@keyframes cry_left {
    0% {
        transform: translate(0px, 0px);
        opacity: 1;
    }
    50% {
        transform: translate(0px, 145px);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate(0px, 145px);
    }
}

@keyframes water_inviz {
    0% {
        transform: scale(0.5);
        opacity: 0.3;
    }
    30% {
        transform: scale(0.7);
        opacity: 0.6;
    }
    50% {
        transform: scale(1);
        opacity: 0.7;
    }
    70% {
        transform: scale(1.6);
        opacity: 0.9;
    }
    80% {
        transform: scale(2.0);
        opacity: 0.7;
    }
    90% {
        transform: scale(2.0);
        opacity: 0.4;
    }
    100% {
        transform: scale(2.0);
        opacity: 0;
    }
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 47%
    }
    50% {
        background-position: 100% 54%
    }
    100% {
        background-position: 0% 47%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 47%
    }
    50% {
        background-position: 100% 54%
    }
    100% {
        background-position: 0% 47%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 47%
    }
    50% {
        background-position: 100% 54%
    }
    100% {
        background-position: 0% 47%
    }
}

@keyframes fontan_antiinviz {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fontan_inviz {
    from{
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes okean_up {
    from{
        height: 0px;
        transform:  translate(0px,0px);
        opacity: 1;
    }
    to {
        height: 352px;
        transform:  translate(0px,-357px);
        opacity: 1;

    }
}

@keyframes fix_deg {
    from {
        transform: rotate(-0.6deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes vertelka {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }
    30% {
        transform: rotate(60deg);
        opacity: 1;
    }
    50% {
        transform: rotate(120deg);
        opacity: 1;
    }
    70% {
        transform: rotate(180deg);
        opacity: 1;
    }
    80% {
        transform: rotate(240deg);
        opacity: 1;
    }
    90% {
        transform: rotate(300deg);
        opacity: 1;
    }
    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
}

@keyframes up_size_x4 {
    0% {
        transform: scale(0) rotate(0deg);
        opacity: 1;
    }
    20% {
        transform: scale(1.5)  rotate(45deg);
        opacity: 1;
    }
    30% {
        transform: scale(2.5) rotate(90deg);
        opacity: 1;
    }
    40% {
        transform: scale(3.5) rotate(135deg);
        opacity: 1;
    }
    50% {
        transform: scale(5) rotate(180deg);
        opacity: 1;
    }
    60% {
        transform: scale(7)  rotate(225deg);
        opacity: 1;
    }
    70% {
        transform: scale(9) rotate(270deg);
        opacity: 1;
    }
    80% {
        transform: scale(10) rotate(305deg);
        opacity: 1;
    }
    90% {
        transform: scale(11) rotate(330deg);
        opacity: 1;
    }
    100% {
        transform: scale(13) rotate(360deg);
        opacity: 0.8;
    }
}
